<div class="w3-left" id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
        <% messages[type].forEach(function (message) { %>
    <div class="alert alert-<%= type %> alert-dismissible" role="alert">
       <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
    </div>
        <% }) %>

    <% }) %>
</div>
<style>
    .alert {
        padding: 20px;
        background-color: #0084f4;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>